# Python
__pycache__/
*.pyc

# Local DB / backups
notes-app/app/notes.db
notes.db
db_backups/
*.sql
*.sql.gz

# Environment and keys
.env
*.pem
*.key

# Terraform local state & cache
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# VSCode
.vscode/
